
<form action="/create" method="POST">
    <h2> create todo </h2>
    
    <div class="input-field">
        <input type="text" name="title">
        <label> todo Title</label>
    </div>

    <button class="btn" type="submit">Create</button>
</form>  